[submodule "dep/ohmyzsh"]
	path = dep/ohmyzsh
	url = ../../ohmyzsh/ohmyzsh.git
[submodule "dep/zsh-autosuggestions"]
	path = dep/zsh-autosuggestions
	url = ../../zsh-users/zsh-autosuggestions.git
[submodule "dep/zsh-syntax-highlighting"]
	path = dep/zsh-syntax-highlighting
	url = ../../zsh-users/zsh-syntax-highlighting.git
[submodule "dep/powerlevel10k"]
	path = dep/powerlevel10k
	url = ../../romkatv/powerlevel10k.git
[submodule "dep/ohmytmux"]
	path = dep/ohmytmux
	url = ../../gpakosz/.tmux.git
[submodule "dep/awesome-vimrc"]
	path = dep/awesome-vimrc
	url = ../../amix/vimrc.git
[submodule "dep/nvchad"]
	path = dep/nvchad
	url = ../../NvChad/NvChad.git
