[submodule "dep/ohmytmux"]
	path = dep/ohmytmux
	url = ../../gpakosz/.tmux.git
	shallow = true
	branch = master
[submodule "dep/awesome-vimrc"]
	path = dep/awesome-vimrc
	url = ../../amix/vimrc.git
	shallow = true
	branch = master
[submodule "dep/nvchad"]
	path = dep/nvchad
	url = ../../NvChad/NvChad.git
	shallow = true
	branch = v2.0
[submodule "dep/simple-term-menu"]
	path = dep/simple-term-menu
	url = ../../IngoMeyer441/simple-term-menu.git
	shallow = true
	branch = develop