[submodule "dep/ohmyzsh"]
	path = dep/ohmyzsh
	url = ../ohmyzsh.git
	shallow = true
	branch = master
[submodule "dep/zsh-autosuggestions"]
	path = dep/zsh-autosuggestions
	url = ../zsh-autosuggestions.git
	shallow = true
	branch = master
[submodule "dep/zsh-syntax-highlighting"]
	path = dep/zsh-syntax-highlighting
	url = ../zsh-syntax-highlighting.git
	shallow = true
	branch = master
[submodule "dep/powerlevel10k"]
	path = dep/powerlevel10k
	url = ../powerlevel10k.git
	shallow = true
	branch = master
[submodule "dep/ohmytmux"]
	path = dep/ohmytmux
	url = ../ohmytmux.git
	shallow = true
	branch = master
[submodule "dep/awesome-vimrc"]
	path = dep/awesome-vimrc
	url = ../awesome-vimrc.git
	shallow = true
	branch = master
[submodule "dep/nvchad"]
	path = dep/nvchad
	url = ../NvChad.git
	shallow = true
	branch = main
