<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CMCrashReporterIgnoreCrashes</key>
	<true/>
	<key>MIBCleanPatterns</key>
	<array>
		<dict>
			<key>pattern</key>
			<string>.svn;CVS;.git|*.o</string>
			<key>regex</key>
			<true/>
		</dict>
	</array>
	<key>MIBExtractPresets</key>
	<array>
		<dict>
			<key>favorite</key>
			<true/>
			<key>folder</key>
			<string>1</string>
			<key>imageTint</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAIMivxc/g5JvDT0Bhg==
			</data>
			<key>isService</key>
			<true/>
			<key>isToolbar</key>
			<true/>
			<key>moveArchiveTo</key>
			<string>4</string>
			<key>name</key>
			<string>Extract &amp; Trash</string>
			<key>openExtracted</key>
			<false/>
			<key>overwriteWithoutWarning</key>
			<false/>
			<key>shortName</key>
			<string>Ex&amp;Trash</string>
			<key>tag</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>excludePattern</key>
			<dict>
				<key>pattern</key>
				<string>*/.svn;*/CVS;*/.git</string>
				<key>regex</key>
				<false/>
			</dict>
			<key>favorite</key>
			<true/>
			<key>folder</key>
			<string>1</string>
			<key>imageTint</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAQCDgP9APQGG
			</data>
			<key>moveArchiveTo</key>
			<string>1</string>
			<key>name</key>
			<string>Extract with Cleaning</string>
			<key>openExtracted</key>
			<false/>
			<key>shortName</key>
			<string>Ex/Clean</string>
			<key>tag</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>favorite</key>
			<true/>
			<key>folder</key>
			<string>~/Applications</string>
			<key>moveArchiveTo</key>
			<string>1</string>
			<key>name</key>
			<string>Install App for User and Show in Finder</string>
			<key>openExtracted</key>
			<false/>
			<key>reveal</key>
			<true/>
			<key>tag</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>MIBFirstStart</key>
	<integer>500</integer>
	<key>MIBMoreOptions</key>
	<true/>
	<key>MIBPlaces</key>
	<array>
		<dict>
			<key>extract</key>
			<true/>
			<key>finder</key>
			<true/>
			<key>folder</key>
			<string>~/Documents</string>
			<key>move</key>
			<true/>
			<key>sidebar</key>
			<true/>
		</dict>
		<dict>
			<key>extract</key>
			<true/>
			<key>finder</key>
			<true/>
			<key>folder</key>
			<string>~/Desktop</string>
			<key>move</key>
			<true/>
			<key>sidebar</key>
			<true/>
		</dict>
		<dict>
			<key>extract</key>
			<true/>
			<key>finder</key>
			<true/>
			<key>folder</key>
			<string>~/Downloads</string>
			<key>move</key>
			<true/>
			<key>sidebar</key>
			<true/>
		</dict>
	</array>
	<key>MIBSavePresets</key>
	<array>
		<dict>
			<key>compression</key>
			<integer>5</integer>
			<key>folder</key>
			<string>1</string>
			<key>format</key>
			<integer>4</integer>
			<key>mode</key>
			<true/>
			<key>moveArchiveTo</key>
			<string>1</string>
			<key>moveOriginalsTo</key>
			<string>1</string>
			<key>name</key>
			<string>.7z</string>
			<key>tag</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>compression</key>
			<integer>2</integer>
			<key>folder</key>
			<string>1</string>
			<key>isService</key>
			<true/>
			<key>isToolbar</key>
			<true/>
			<key>mode</key>
			<true/>
			<key>moveArchiveTo</key>
			<string>1</string>
			<key>moveOriginalsTo</key>
			<string>1</string>
			<key>name</key>
			<string>.zip</string>
			<key>tag</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>compression</key>
			<integer>2</integer>
			<key>folder</key>
			<string>1</string>
			<key>format</key>
			<integer>2</integer>
			<key>mode</key>
			<true/>
			<key>moveArchiveTo</key>
			<string>1</string>
			<key>moveOriginalsTo</key>
			<string>1</string>
			<key>name</key>
			<string>.tgz</string>
			<key>tag</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>compression</key>
			<integer>2</integer>
			<key>folder</key>
			<string>1</string>
			<key>format</key>
			<integer>9</integer>
			<key>mode</key>
			<true/>
			<key>moveArchiveTo</key>
			<string>1</string>
			<key>moveOriginalsTo</key>
			<string>1</string>
			<key>name</key>
			<string>.tzst</string>
			<key>tag</key>
			<integer>12</integer>
		</dict>
	</array>
	<key>MIBShouldTerminateAfterLastWindowClosed2</key>
	<true/>
	<key>MIBShowFinderContextualMenu</key>
	<true/>
	<key>MIBShowPasswords</key>
	<integer>0</integer>
	<key>MIBTempFolders</key>
	<array/>
	<key>TableColumnSorter5.0</key>
	<real>1737446892.222131</real>
	<key>nextTag</key>
	<integer>13</integer>
	<key>prefsVersion</key>
	<integer>451</integer>
</dict>
</plist>
