<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoExpandTab</key>
	<true/>
	<key>autoTrimsTrailingWhitespace</key>
	<true/>
	<key>defaultTheme</key>
	<string>Anura</string>
	<key>font</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGpCwwTHR4fICEnVSRudWxs0w0O
	DxARElYkY2xhc3NfEBdOU0ZvbnREZXNjcmlwdG9yT3B0aW9uc18QGk5TRm9udERlc2Ny
	aXB0b3JBdHRyaWJ1dGVzgAgSgAAAAIAC0xQVDRYZHFdOUy5rZXlzWk5TLm9iamVjdHOi
	FxiAA4AEohobgAWABoAHXxATTlNGb250U2l6ZUF0dHJpYnV0ZV8QE05TRm9udE5hbWVB
	dHRyaWJ1dGUjQCoAAAAAAABfEBJNZXNsb0xHU05GLVJlZ3VsYXLSIiMkJVokY2xhc3Nu
	YW1lWCRjbGFzc2VzXE5TRGljdGlvbmFyeaIkJlhOU09iamVjdNIiIygpXxAQTlNGb250
	RGVzY3JpcHRvcqIqJl8QEE5TRm9udERlc2NyaXB0b3IACAARABoAJAApADIANwBJAEwA
	UQBTAF0AYwBqAHEAiwCoAKoArwCxALgAwADLAM4A0ADSANUA1wDZANsA8QEHARABJQEq
	ATUBPgFLAU4BVwFcAW8BcgAAAAAAAAIBAAAAAAAAACsAAAAAAAAAAAAAAAAAAAGF
	</data>
	<key>highlightCurrentLine</key>
	<true/>
	<key>lineHeight</key>
	<real>1.0999999999999999</real>
	<key>modes</key>
	<dict>
		<key>general</key>
		<dict>
			<key>completionWordTypes</key>
			<integer>3</integer>
			<key>continuousSpellChecking</key>
			<true/>
			<key>fontType</key>
			<string>monospaced</string>
			<key>smartInsertDelete</key>
			<true/>
		</dict>
	</dict>
	<key>monospacedFont</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGpCwwTHR4fICEnVSRudWxs0w0O
	DxARElYkY2xhc3NfEBdOU0ZvbnREZXNjcmlwdG9yT3B0aW9uc18QGk5TRm9udERlc2Ny
	aXB0b3JBdHRyaWJ1dGVzgAgSgAAAAIAC0xQVDRYZHFdOUy5rZXlzWk5TLm9iamVjdHOi
	FxiAA4AEohobgAWABoAHXxATTlNGb250U2l6ZUF0dHJpYnV0ZV8QE05TRm9udE5hbWVB
	dHRyaWJ1dGUjQCoAAAAAAABfEBJNZXNsb0xHU05GLVJlZ3VsYXLSIiMkJVokY2xhc3Nu
	YW1lWCRjbGFzc2VzXE5TRGljdGlvbmFyeaIkJlhOU09iamVjdNIiIygpXxAQTlNGb250
	RGVzY3JpcHRvcqIqJl8QEE5TRm9udERlc2NyaXB0b3IACAARABoAJAApADIANwBJAEwA
	UQBTAF0AYwBqAHEAiwCoAKoArwCxALgAwADLAM4A0ADSANUA1wDZANsA8QEHARABJQEq
	ATUBPgFLAU4BVwFcAW8BcgAAAAAAAAIBAAAAAAAAACsAAAAAAAAAAAAAAAAAAAGF
	</data>
	<key>overscrollRate</key>
	<real>1.0</real>
	<key>pinsThemeAppearance</key>
	<false/>
	<key>selectedInspectorPaneIndex</key>
	<integer>0</integer>
	<key>selectionInstanceHighlightDelay</key>
	<real>0.1</real>
	<key>showIndentGuides</key>
	<true/>
	<key>showInvisibleSpace</key>
	<true/>
	<key>showInvisibles</key>
	<true/>
	<key>showLineNumberSeparator</key>
	<true/>
	<key>showPageGuide</key>
	<true/>
	<key>showStatusBarColumn</key>
	<true/>
	<key>showStatusBarWords</key>
	<true/>
	<key>sidebarWidth</key>
	<real>40.0</real>
	<key>snippets</key>
	<array/>
</dict>
</plist>
